@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stick&display=swap');

@import url('menu.css');
@import url('loader.css');
@import url('game.css');

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

img
{
    pointer-events: none;
}

button:focus
{
    outline: none;
}

html,
body
{
    height: 100vh;
    width: 100vw;
}

body
{
    background: url('../img/background.jpg') center center / 100% 100% no-repeat;
}
